@charset "UTF-8";

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Open Sans";
    }
    html,body{
        height: 100%;
    }
    @font-face{
        src: url('../fonts/OpenSans-Light.ttf');
        font-family: "Open Sans";
    }
    .center{
        width: 1200px;
        margin: 0 auto;
    }
    header{
        width: 100%;
        height: 60px;
        background-color: #212343;
    }  
    header img{
        margin: 19px;
    }  
    
    #banner{
       width: 100%;
       height: 557px;
       background-image: url(../images/header_bg.png);
       background-size: cover;
       background-position: center;
    }
    #banner > .center{
        height: 100%;
    }
    .form{
        position: relative;
        width: 480px;
        height: calc(100% + 30px);
        float: right;
        background-color: white;
        font-size: 26px;
        top: -15px;
        border: 8px solid rgb(120, 120, 120, 0.5);
        padding: 10px;
        background-clip: padding-box;
    }
    .form h2{
       font-size: 21px;
       text-align: center;
       color: #999999;
    }
    .form fieldset{
       margin-top: 20px;
       border: none;
    }
    .form span{
        display: inline-block;
        width: 100%;
        margin-top: 15px;
        font-size: 17px;
    }
    .form input{
        width: 344px;
        height: 55px;
        margin-top: 8px;
    }
      form p.obrigatorio{
        margin-top: 20px;
    }
     .form input[type=submit]{
        display: block;
        width: 280px;
        margin: 50px auto;
        font-size: 25px;;
        background-color: #363A6D;
        color: white;
        cursor: pointer;
        text-transform: uppercase;
    }
    .form input[type=submit]:hover{
        background-color: #221d50;
    }    
    .form p, span{
        color: #848485;
    }
    ul{
        float: left;
        margin-top: 40px;
        padding: 30px;
        background-color: rgb(33, 35, 67, 0.7);
        width: 619px;
        height: 270px;
        color: white;
        list-style-position: inside;
    }
    li{
        margin: 18px;
    }
    article.text01{
        background-color: #e6e5e5;
        text-align: center;
        padding: 40px 0; 
    }
    article.text01 h2{
        font-weight: normal;
        
    }
    article.text01 p{
        display:inline-block;
        width: 698px;
        text-align: justify;
        margin: 15px 0;
    }
    div.arrow{
        position: relative;
        top: 60px;
        left: 50%;
        width: 40px;
        height: 40px;
        background-image: url(../images/arrow.png);
        background-size:  100%  100%;
        margin-left: -20px;
    }
   

